@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

html, body {
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}



:root {
    --cor0: #0CF25D;
    --cor1: #038C3E;
    --cor2: #02735E;
    --cor3:  #025951; 

    --font01: "Passion One", serif;
    --font03: "Bebas Neue", sans-serif;

}

/*---Cabeçalho---*/
header {
    background-color: var(--cor3);
    display: grid;
    min-height: 40px;
    
}



header nav{
    
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}




header nav a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.2em;
    font-family: var(--font01);
}


#direita {
    display: flex;
    gap: 15px;
}

#esquerda {
    display: flex;
    padding: 5px;
    
}

#direita a:hover {
    border-radius: 5px;
    text-decoration: underline;
    
}

    

/*---Principal---*/


main {
    background-color: #f5f5f5;
    
}



main h1, .t2 {
    font-family: var(--font03);
    text-shadow:  0px 0px 1px black;
    margin: 10px 0px;
    text-align: center;
    color: var(--cor3);
}



h1 {
    
    font-size: 1.4rem;
    text-decoration: underline;
    
}

h2 {
    font-size: 1.4rem;
}

h3 {
    color: var(--cor3);
    margin: 10px 0px;
    font-size: 1.2em;
    padding-left: 3px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

p {
    text-align: justify;
    font-family: sans-serif;

    text-indent: 1.5em;
    line-height: 1.6em;
    margin: 10px 0px;

    font-size: 1em;
    
    
}

article {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
}

article > section, article aside {
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    grid-column:  2/3;
}

section {
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    font-family: var(--font03);
    font-weight: bold;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0);
    color: var(--cor3);
}

section a:hover {
    text-decoration: underline;
}

.dino {
    display: block;
    width: 50%;
    margin: auto;
    
}

/* rodapé */

#grupo_01 {
    margin-right: 50px;
    margin-left: 10px;
}

footer h4,footer {
    color: white;
}

footer h4 {
    text-decoration: underline;
    margin-bottom: 5px;
}

footer {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    gap: 5px;
    background-color: var(--cor3);
    font-family: var(--font01);
    font-size: 1.2em;
    
}

footer div {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    gap: 3px;
    
}

footer nav {
    
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    
}

footer a {
    font-size: 0.8em;
    color: white;
    transition: trasnform 0.2s, color 0.2s;
}

footer a:hover {
    transform: scale(1.2);
    color: var(--cor0);
}

nav.pequeno {
    display: flex;
    flex-wrap: nowrap; 
}


footer li {
    list-style: none;
    overflow-wrap: anywhere;
}





