* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-image: url(../imagens/fundo02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}