@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}

html, body {
    height: 100%;
    width: 100vw;
    -webkit-tap-highlight-color: transparent;
}



:root {
    --cor0: #0CF25D;
    --cor1: #038C3E;
    --cor2: #02735E;
    --cor3:  #025951; 

    --font01: "Passion One", serif;
    --font03: "Bebas Neue", sans-serif;

}

/*---Cabeçalho---*/
header {
    background-color: var(--cor3);
    display: grid;
    width: 100%;
    min-height: 40px;
    
}



header nav{
    
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}




header nav a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 14px;
    font-family: var(--font01);
}


#direita {
    display: flex;
    gap: 15px;
}

#esquerda {
    display: flex;
    padding: 5px;
    
}

#direita a:hover {
    border-radius: 5px;
    text-decoration: underline;
    
}

#esquerda a:hover {
    
}



    

/*---Principal---*/


main {
    background-color: #f5f5f5;
    margin-bottom: 10px;
}



main h1, .t2 {
    font-family: var(--font03);
    text-shadow:  0px 0px 1px black;
    margin: 10px 0px;
    text-align: center;
    color: var(--cor3);
}



h1 {
    
    font-size: 1.2em;
    text-decoration: underline;
    
}

h2 {
    font-size: 1.0em;
}

h3 {
    color: var(--cor3);
    margin: 10px 0px;
    font-size: 13px;
    padding-left: 3px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

p {
    text-align: justify;
    font-family: sans-serif;

    text-indent: 1.5em;
    line-height: 1.6em;
    margin: 10px 0px;

    font-size: 10px;
    
    
}

article {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
}

article > section, article aside {
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    grid-column:  2/3;
}

section#era {
    
   
}

article aside {
    
}

.link {
    text-decoration: none;
    font-family: var(--font03);
    font-weight: bold;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0);
    color: var(--cor3);
}

section a:hover {
    text-decoration: underline;
}

.dino {
    width: 50%;
    
}



/* rodapé */

footer h4 {
    color: white;
}

footer {
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    background-color: var(--cor3);
    font-family: var(--font01);
    font-size: 12px;
}

footer nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    
}




