@charset "UTF-8";


@media (min-width: 375px) {
    .dino {
        max-width: 200px;
    }
    #ovi {
        max-width: 150px;
    }
}

@media (min-width: 600px) {

    body {
        font-size: 18px;
    }
    .flexivel{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .flexivel  p{
        text-align: justify;
        flex: 1;
    }
    #ima {
        height: 200px;
    }
}