@charset "UTF-8";


@media (min-width: 375px) {
    .dino {
        max-width: 200px;
    }
    #ovi {
        max-width: 150px;
    }
}

@media (min-width: 600px) {
    .flexivel{
        display: flex;

    }
    .flexivel  p{
        text-align: justify;
        margin-right: 15px;
    }
}